<header style="position: sticky; top:0px; z-index:1;">
    <nav class="navbar navbar-expand-lg" style="background-color:rgba(57, 57, 227, 0.8)">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="img/icon.png" alt="logo" class="rounded img-fluid Logo-width"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link active text-white mx-4" aria-current="page" href="/" ><b>Home</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white  mx-4" href="/contact"><b>Contact Us</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white  mx-4" href="/bookticket"><b>Book Ticket Now</b></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white  mx-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" text-white>
                <b> Sign In</b>
              </a>
              <ul class="dropdown-menu loginandregisterbutton">
                <li><h5 class="dropdown-header text-info text-break loginandregisterbutton" style="font-size:0.9vw !important;">Already Have an Account</h5></li>
                <li><a href="/login" class="btn btn-outline-primary loginandregisterbutton" style="width:100%; font-size:0.9vw !important;">
                  Login
                </a></li>  <!--********************login modal************************ -->
                <li><h5 class="dropdown-header text-danger " style="font-size: 0.9vw !important;">Don't Have Account</h5></li>
                <li><a href="/register" class="btn btn-outline-primary loginandregisterbutton" style="width:100%; font-size:0.9vw !important;">
                  Register
                </a></li>  <!--********************Register modal************************ -->
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-width" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success text-white" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <script  type="module" src="../changeheader.js"></script>