<div class="foot" >
    <footer class="footer" >
     <div class="text-center mt-1 pt-3">About Us</div>
     <div class="row footerlogo" style="width:15vw; height:auto;">
       <div class="col-4">
         <a href="#">
      <img src="/public/img/FacebookLogo1.png" alt="Facebook" class="footerlogowidth" style="margin-top: 1px;">
         </a>
       </div>
       <div class="col-4">
         <a href="#">
      <img src="/public/img/instagramLogo.png" alt="Instagram" class="footerlogowidth" style="width: 2.1vw; height:2.1vw; margin-top:4px;">
          </a>
       </div>
       <div class="col-4">
         <a href="#">
      <img src="/public/img/TwitterLogo.png" alt="Twitter" class="footerlogowidth" style="margin-top: 5px;">
         </a>
     </div>
   
    </div>  <!--  class row -->
    </footer>
   </div>